<!--<div class="signup-page">
<div class="signup">
    <h1>New user - - signup</h1>
    <form #SignUp="ngForm" (ngSubmit)="signUp(SignUp.value)" class="common-form">
        <input type="text" class="form-input" placeholder="Enter name" name="name" ngModel>
        <input type="password" class="form-input" placeholder="Enter password" name="password" ngModel>
        <input type="email" class="form-input" placeholder="Enter email" name="email" ngModel>
        <button class="form-button">signup</button>
        </form>
</div>
</div> 
signUp(data:object):void
{
  console.warn(data)
}
-->
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <input matInput placeholder="First Name" id="first-name" formControlName="Firstname">
    </mat-form-field><br/>
    <mat-form-field >
      <input matInput placeholder="Last Name" id="last-name">
    </mat-form-field>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        @if (email.invalid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Enter Your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div
      *ngIf="signUpForm.controls.Firstname.invalid && (signUpForm.controls.Firstname.dirty || signUpForm.controls.Firstname.touched)"
    >
      <div *ngIf="signUpForm.controls.Firstname.errors?.['required']">
        First Name is required.
      </div>
      <div *ngIf="signUpForm.controls.Firstname.errors?.['minlength']">
        First Name must be at least 5 characters long.
      </div>
    </div>
  
    <br />
      <button type="submit" [disabled]="!signUpForm.valid">Submit Profile</button><br><br>
    <h4 style="text-align: center;">Already an user? <a href="login">Login</a></h4>
  </form>
</mat-card-content>
</mat-card>
</div>
