<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Ever Fresh!</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      <div class="search-container">
      <mat-form-field class="example-form-field" style="padding-left: 100px;width: 500px;height: 70px;margin-top: 25px;text-align: center;">
        <input matInput type="search" [(ngModel)]="value">
        
      </mat-form-field>
      <button mat-button color="warn">Search</button>
    </div>
      <span class="spacer"></span>
  <button mat-button><a href="/login" style="text-decoration: none;">login</a></button>
  <button mat-button><a href="/signup" style="text-decoration: none;">signup</a></button>
  <button mat-button><a href="/details" style="text-decoration: none;">details</a></button>
  <button mat-button><a href="/checkout" style="text-decoration: none;">cart</a>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  
  
</mat-toolbar-row>
</mat-toolbar>

